.main {
  flex-direction: column;
  margin-top: 140px;

  .mainTop {

    display: flex;
    justify-content: space-between;
    margin: 80px 0;


    .mainArt {
      width: 582px;
      height: 397px;
      object-fit: cover;
    }

    .mainPanel {
      width: 464px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #EBEBEB;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .leftButton {
        text-align: left;
        margin-left: 20px;

        button {
          font-family: 'Inter', sans-serif;
          color: #8C8C8C;
          font-size: 12px;
          line-height: 12px;
          background: #F7F7F7;
          border: 1px solid #F7F7F7;
          border-radius: 118px;
          width: 100px;
          height: 26px;
          max-height: 100px;
          overflow: hidden;
        }
      }

      a {
        text-decoration: none;
        color: #242424;
      }

      .h2Text {
        color: #323232;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        max-height: 40px;
        overflow: hidden;
        text-align: left;
        margin-left: 20px;
      }

      .pText {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #8C8C8C;
        font-size: 16px;
        line-height: 26px;
        max-height: 200px;
        overflow: hidden;
        text-align: left;
        margin-left: 10px;
      }

      .mainPanelBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 342px;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 15px;

        .mainPanelBottomHuman {
          display: flex;
          justify-content: space-between;
          align-content: space-between;

          .mainUserPhoto {
            border-radius: 100px;
            width: 40px;
            height: 40px;
          }

          .pHuman {
            margin-left: 8px;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #8C8C8C;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
          }
        }

        .pHumanSecond {
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 400;
          color: #8C8C8C;
          font-size: 12px;
          line-height: 12px;
        }

        .mainPanelBottomHumanSecond {
          display: flex;
          align-items: center;

          .pHumanSecond {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .mainBottom {

    button {
      background: darkseagreen;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
    }

    .filterContainer {
      display: flex;
      justify-content: start;

      button {
        margin-bottom: 20px;
      }
    }

    .h1Main {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 56px;
      color: #323232;
    }

    .mainBottomArt {

      .moder {
        display: flex;
        justify-content: start;
        margin-bottom: 10px;

        .true {
          background: green;
        }

        .false {
          background: red;
        }
      }



      .mainBottomNew {
        display: flex;
        justify-content: space-between;
        margin: 0 0 40px 0;

        .secondArts {
          object-fit: cover;
          width: 367px;
         height: 260px;
        }

        .mainPanelBottomArt {
          width: 680px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: #EBEBEB;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

        button {
            font-family: 'Inter', sans-serif;
            color: #8C8C8C;
            font-size: 12px;
            line-height: 12px;
            background: #F7F7F7;
            border: 1px solid #F7F7F7;
            border-radius: 118px;
            width: 100px;
            height: 26px;
            max-height: 100px;
            overflow: hidden;
            float: left;
            margin-left: 20px;
          }

          .h2Text {
            color: slategrey;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            max-height: 40px;
            overflow: hidden;

            a {
              text-decoration: none;
              color: #242424;
              float: left;
              margin-left: 20px;
            }
          }

          .pText {
            font-family: 'IBM Plex Sans', sans-serif;
            color: #8C8C8C;
            font-size: 16px;
            line-height: 26px;
            max-height: 75px;
            overflow: hidden;
            text-align: start;
            margin-left: 10px;
          }

          .mainPanelBottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 342px;
            margin-bottom: 15px;

            .mainPanelBottomHuman {
              display: flex;
              justify-content: space-between;
              align-content: space-between;

              .userPhoto {
                border-radius: 100px;
                width: 40px;
                height: 40px;
                float: left;
                margin-left: 20px;
              }

              .pHuman {
                margin-left: 8px;
                font-family: 'IBM Plex Sans', sans-serif;
                color: #8C8C8C;
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
              }
            }

            .pHumanSecond {
              font-family: 'IBM Plex Sans', sans-serif;
              font-weight: 400;
              color: #8C8C8C;
              font-size: 12px;
              line-height: 12px;
            }

            .mainPanelBottomHumanSecond {
              display: flex;
              align-items: center;

              .pHumanSecond {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }

    .bottomButton {
      display: flex;
      justify-content: space-between;

      .prevNextButton {
        margin: 16px 0px 110px 0px;
        border: 1px solid rgb(190, 190, 190);
        width: 96px;
        height: 47px;
        color: rgb(190, 190, 190);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        font-family: 'IBM Plex Sans', sans-serif;
        background: #fff;
      }

      .prevNextButton:hover {
        border: 1px solid #242424;
        color: #242424;
      }
    }
  }
}

.noContent {
  .h2NoArticles {
    color: #323232;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 130px;
  }

  button {
    background: lightpink;
    color: firebrick;
  }

  button:hover {
    background: lightpink;
    color: firebrick;
  }


}
