.auth {
  width: 100%;

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    .email {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }

    .password {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }

    .login-button {
      width: 100%;
      max-width: 200px;
      margin-top: 10px;
    }
  }
}